{{#extend "stylesheets"}}
  <link rel="stylesheet" href="footerStyles.css">
{{/extend}}
<footer class="text-center text-lg-start bg-light text-muted" id= 'footer'>
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              Bird App (name tbd)
            </h6>
            <img src= "birdlogo.png" class= "logo" alt= "BirdApp">
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Bird App 
            </h6>
             {{#each headerFooter.footerHelpLinks}}
                 <p><a href="{{this.link}}" class="text-reset">{{this.title}}</a></p>
             {{/each}}
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
             {{#each headerFooter.footerUsefulLinks}}
                  <p><a href="{{this.link}}" class="text-reset">{{this.title}}</a></p>
             {{/each}}

          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
             {{#each headerFooter.footerContact}}
                 <p>{{{this.fas}}} {{this.value}}</p>
             {{/each}}
           
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright: Bird App (NAME TBD)
    </div>
    <!-- Copyright -->
  </footer>