{{#extend "stylesheets"}}
  <link rel="stylesheet" href="navStyles.css">
{{/extend}}
{{#extend "scripts"}}
{{/extend}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img class= "logo" src= "https://birdr-app.s3.amazonaws.com/public/birdlogo.png"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {{#each headerFooter.links}}
        <a class="nav-item nav-link {{#if this.current}} active {{/if}}" href="{{this.link}}">{{this.title}}</a>
      {{/each}}
      {{#if userNav.user}}
        <a class="nav-item nav-link" href="/logout">Logout</a>
      {{else}}
        <a class="nav-item nav-link" href="/login">Login</a>
      {{/if}}
    </div>
  </div>
  {{#if userNav.user}}
    <div class="userAccount">
      <p>Logged in as {{userNav.user}}</p>
      <script>
        {{#if userEmail}}
          let email = "{{userEmail}}"
          {{else}}
          let email = "{{userNav.email}}"
        {{/if}}
      </script>
    </div>
  {{/if}}
  {{#if userNav.userName}}
    <script>
      let userName = "{{userNav.userName}}"
    </script>
  {{/if}}
</nav>