{{#extend "scripts"}}
   
{{/extend}}
{{#extend "stylesheets"}}

{{/extend}}

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center" id= 'profile'>
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> <img src="{{data.user.profilePic}}" height="100" width="100" /></button> <span class="name mt-3">{{data.user.firstName}} {{data.user.lastName}}</span> <span class="idd">{{data.user.userName}}</span>
            <div class="text mt-3"> <span>{{data.user.email}}<br></div>
           
            <div class=" px-2 rounded mt-4 date "> <span class="join">Recently Logged Birds </span> 
            {{#each data.loggedBirds}}
                <p>
                    {{this.species}} {{this.date}} {{this.location}} <button>Update</button> <button>Button</button>
                </p>
                
            {{/each}}
            
            
            </div>
        </div>
    </div>
</div>