{{#extend "scripts"}}
    <script src = "profile.js" > </script>
{{/extend}}
{{#extend "stylesheets"}}
       <link rel="stylesheet" href="profileStyles.css">
{{/extend}}


<div class="container mt-4 mb-4 p-3 d-flex justify-content-center" id= 'profile'>
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> 
            <img class ='profileDetails' src="{{data.user.profilePic}}" height="100" width="100" /> 
            <span class="name mt-3 profileDetails"> <b>Name:</b>{{data.user.firstName}} {{data.user.lastName}}</span> 
            <span class="idd profileDetails"> <b>Username:</b> {{data.user.userName}}</span>
            <span class="profileDetails"> <b>Email:</b> {{data.user.email}}</span>
           
            <div class=" px-2 rounded mt-4 date "> <span class="lead">Recently Logged Birds </span> 
            
                <div class = 'container' id= 'profileContainer'>
                    <table >
                        <thead>
                            <tr >
                                <th>
                                    Bird
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Delete <button class= 'btn btn-light' data-bs-toggle="modal" data-bs-target="#deleteBirdModal">?</button>
                                </th>
                            </tr>

                        </thead>
                        <tbody id = "birdList">

                        </tbody>
           
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>